#page_footer {
    position: fixed;
    bottom: 5px;
}

input {
    margin: 5px;
}

td,
th {
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}

table {
    border-collapse: collapse;
}

.no-border {
    border: none;
}